.tokenWrapper {
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
}

.token {
  font-size: 16px;
  padding: 4px 8px;
  background-color: #9f65f1;
  border-radius: 8px;
}

.circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #9f65f1;
  color: white;
  border-radius: 50%;
  font-size: 16px;
  margin-right: 8px;
  text-align: center;
}

.number {
  font-size: 16px;
  color: #333;
  margin-right: 8px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin: 8px 0;
  padding: 8px;
  border-radius: 6px;
  border: 2px solid #904eeb;
  background-color: #f9f9f9;
}

.inputWrapper:focus-within {
  border-color: #6200ea;
}

.input {
  border: none;
  padding: 8px;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  flex-grow: 1;
}
